{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/livro_details.css' %}">
    <title>Detalhes do Livro</title>
    <script>
        function confirmarAdicao(event, livroTitulo, url) {
            event.preventDefault(); 
            var confirmar = confirm(`Você deseja adicionar '${livroTitulo}' ao carrinho?`);
            if (confirmar) {
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            alert(data.error);
                        } else if (data.success) {
                            alert(data.success);
                            window.location.reload();
                        }
                    })
                    .catch(error => console.error('Erro:', error));
            }
        }
    </script>
</head>
<body>
    <header class="header-container">
        <ul class="header-list">
            <li class="bib-nome">Biblioteca Maranguape</li>
            <li><a href="{% url 'home' %}" class="inicio">Início</a></li>
            <li>
                <form action="{% url 'home' %}" method="GET" class="search-container">
                    <input type="text" name="q" placeholder="Buscar Livros" class="txtBusca">
                    <button type="submit" class="btnBusca"><img src="{% static 'images/lupa-30.png' %}" alt="Buscar..."></button>
                </form>
            </li>
            <li>
                <a href="{% url 'meus-emprestimos' cliente_id %}" class="meus-emprestimos">Meus Empréstimos</a>
            </li>
            <li class="img-carrinho">
                <a href="{% url 'carrinho' %}"><img src="{% static 'images/carrinho-35.png' %}" alt="Carrinho"></a>
            </li>
            <li>
                <a href="{% url 'logout' %}" class="btnSair">Sair</a>
            </li>
        </ul>
    </header>

    <div class="livro-detalhes-container">
        <div class="livro-card">
            <div class="livro-card-content">
                <img src="{{ livro.capa_url.url }}" alt="Capa do Livro" id="img-livro">
                <div class="livro-card-info">
                    <h3>{{ livro.titulo }}</h3>
                    <p><strong>Autor(a):</strong> {{ livro.autor }}</p>
                    <p><strong>Gênero:</strong> {{ livro.genero }}</p>
                    <p><strong>Estoque:</strong> {{ livro.estoque }}</p>
                    <button class="add-carrinho" onclick="confirmarAdicao(event, '{{ livro.titulo }}', '{% url 'adicionar-ao-carrinho' livro.pk %}')">
                        Adicionar ao carrinho
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
