{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
</head>
<body>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <h1>Login</h1>
        <label for="cpf" class="cpf">CPF</label>
        <input type="text" placeholder="CPF" name="cpf" required>

        <label for="senha" class="senha">Senha</label>
        <input type="password" placeholder="Senha" name="senha" required>

        <input type="submit" value="Login">
        
        <button type="button" class="create-user-button" onclick="window.location.href='{% url 'cadastro' %}'">Criar Usuário</button>

        <!-- mensagem de erro -->
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </form>

    <!-- javascript pra mensagem de erro -->
    <script>
        const messages = document.querySelectorAll('.message');
        if (messages.length > 0) {
            messages.forEach(message => {
                message.style.display = 'block';
            });

            // pra esconder a mensagem após 3s
            setTimeout(() => {
                messages.forEach(message => {
                    message.style.opacity = '0';
                    setTimeout(() => {
                        message.style.display = 'none';
                    }, 1000);
                });
            }, 3000);
        }
    </script>
</body>
</html>
