<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="{% url "login" %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="CPF" name="cpf">
        <br>
        <input type="text" placeholder="Senha" name="senha">
        <br>
        <input type="checkbox" name="is_admin">
        <input type="submit" value="login">
    </form>

</body>
</html>