{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
    <link rel="stylesheet" href="{% static "css/meus_emprestimos.css" %}">
</head>
<body>
    <h1>LIVROS EMPRESTADOS:</h1>
    <ul>
        {% for emprestimo in livros_emprestados %}
            <li>{{ emprestimo.id_livro.titulo }}</li>
        {% empty %}
            <li>Você não possui empréstimos no momento.</li>
        {% endfor %}
    </ul>
</body>
</html>
